.cart-background {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, .5);
}

.cart-background .cart-container {
    background-color: var(--white);
    width: 55%;
    margin: 30px auto;
    box-shadow: 20px 20px 20px 20px rgba(0, 0, 0, .3);
    padding: 20px;
    border-radius: 10px;
    animation: fadeIn .25s;
}

.cart-container .cart-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cart-container .cart-header .remove-all {
    color: deeppink;
    cursor: pointer;
    text-decoration: underline;
}

.cart-container .cart-body {
    height: 200px;
    border-bottom: 2px solid gray;
    overflow-y: auto;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;
}

.cart-container .cart-body::-webkit-scrollbar {
    display: none;
}

.cart-container .cart-body .each-item {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cart-container .cart-body .cart-pic {
    width: 100px;
    height: 100px;
}

.cart-container .cart-counter {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.cart-container .cart-counter .plus-counter,
.cart-container .cart-counter .minus-counter {
    background-color: silver;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
}

.cart-container .cart-price p {
    color: red;
    cursor: pointer;
    text-decoration: underline;
    font-size: 0.9rem;
    text-align: center;
}

.cart-container .cart-footer {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cart-container .cart-footer .item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    gap: 1rem;
}

.cart-container .cart-footer .checkout {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.cart-container .cart-footer .checkout button {
    all: unset;
    background: rgba(3, 194, 194, 0.979);
    width: 120px;
    text-align: center;
    padding: 2px 0;
    text-transform: uppercase;
    color: var(--white);
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .3);
}

.cart-container .cart-footer .checkout .close-btn {
    background-color: deeppink;
}

.no-cart {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}