.login-background {
    position: fixed;
    inset: 0;
    display: grid;
    place-items: center;
    background-color: rgba(0, 0, 0, .7);
}

.login-background .login-container {
    background-image: linear-gradient(60deg, rgb(20, 98, 113), rgba(56, 94, 92, 0.886));
    border-radius: 20px;
    box-shadow: 10px 20px 20px 20px rgba(0, 0, 0, .6);
    animation: opacity .25s;
}

.login-background .login-container .signin-heading,
.login-background .login-container .login-heading {
    padding-bottom: 5px;
    border-bottom: 1px solid gray;
}

.login-background .login-container h2 {
    text-align: center;
    color: var(--white);
    text-transform: uppercase;
}

.login-background .login-container .login-signup-card {
    display: flex;
    gap: 2rem;
    padding: 20px;
}

.login-background .login-container .login-btn,
.login-background .login-container .signin-btn {
    text-align: center;
}

.login-background .login-container input[type="submit"] {
    all: unset;
    width: 150px;
    padding: 5px;
    background-color: rgb(3, 66, 77);
    color: var(--white);
    text-transform: uppercase;
    border-radius: 10000px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, .3);
    cursor: pointer;
}

.login-background .login-container .form-group {
    margin: 10px 0;
}

.login-background .login-container .form-group label {
    font-size: 1.01rem;
    color: var(--white);
    font-family: sans-serif;
}

.login-background .login-container .form-group .form-control {
    width: 100%;
    margin-top: 5px;
    padding: 10px 5px;
    font-size: 1.01rem;
    border: 1px solid rgba(0, 0, 255, 0.438);
    border-radius: 5px;
}

.login-background .login-container .form-group .form-control:focus {
    outline: 1px solid blue;
}
.login-background .login-container .forgot-password {
    margin-top: 10px;
    text-align: right;
}

.login-background .login-container .forgot-password button {
    all: unset;
    text-decoration: underline;
    color: var(--white);
    text-transform: capitalize;
    cursor: pointer;
    font-size: 1.01rem;
}

@keyframes opacity {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}